:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 auto;
  position: relative;
}

.content {
  padding: 20px 3rem 2rem;
  text-align: justify;
  text-justify: inter-word;
  flex: 1 1 auto;
  min-height: 1px;
  overflow: auto;
}
.quran-toolbar {
  background: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  flex: 0 1 auto;
  min-height: 48px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  margin: 0;

  .quran-toolbar-row {
    padding: 0 16px 0 0;
    height: 48px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .mat-icon-button {
    width: unset;
  }

  @media (min-width: 992px) {
    .hamburger.mat-button {
      min-width: unset;
      margin: 0 8px 0 0;
      padding: 0 0 0 0;
    }
  }
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

.leftnav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.centernav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightnav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
