.lgray {fill:   #A8A8A6;}
.qalqalah {fill:   #009FE3;}
.emphatizer {fill:   #006A94;}
.medd6 {fill:#B20062;}
.medd6sat {fill:#E6007E;}
.medd246 {fill:#EF7D00;}
.ghunnah {fill:#00963F;}
.smallalef {fill:#E9AD01}

.draggable {
  cursor: move;
}