// import global variables
@import './constants';

// import global mixins
@import './mixins';

@import './materialtheme';

html, body {
  height: 100%;
}

body {
  width: 100%;
  position: relative;
  margin: 0;  
  overscroll-behavior: none;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbarbutton {
  text-transform: uppercase;
}

.quran-toolbar-row .backbutton {
  margin: 0 8px 0 0;
  padding: 0;
}


