<p>The following images illustrate some inter-expandanble letters using curvilinear stretchings (i.e. Kashidas). You can move the sliders to see how the glyphs expand.</p>
<div>
  <canvas *ngFor="let glyphName of glyphNames" height="200" width="300" style="height:10px;width:10px;" [id]="'jl_' + glyphName"></canvas>
</div>
<div style="width:100%;">
  Left expansion: <mat-slider  min="-0.5" max="6" step="0.1" value="0"  [(ngModel)]="leftTatweel" (input)="leftTatweelChanged($event)"></mat-slider>
  Right expansion: <mat-slider  min="-0.5" max="6" step="0.1" value="0" [(ngModel)]="rightTatweel" (input)="rightTatweelChanged($event)"></mat-slider>
  <!--
  <input type="range" id="tatweel" name="tatweel" min="0" max="12" step="any" value="0" [hidden]="!loaded" [(ngModel)]="tatweel"
         (ngModelChange)="tatweelChanged()"
         class="custom-range">-->
</div>
