
::ng-deep .panelClass {
  overflow: hidden !important;
}

@media all and (max-width: 535px) {
  ::ng-deep .hiddenSmallView {
    display: none !important;
  }
}

@media all and (max-width: 770px) {
  ::ng-deep .hiddenMediumView {
    display: none !important;
  }
}


.quran-toolbar {
  background: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  flex: 0 1 auto;
  min-height: 48px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  margin: 0;

  .quran-toolbar-row {
    padding: 0 16px 0 0;
    height: 48px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .mat-mdc-icon-button {
    width: 32px;
  }

  @media (min-width: 992px) {
    .hamburger.mat-mdc-button {
      min-width: unset;
      margin: 0 8px 0 0;
      padding: 0 0 0 0;
    }
  }
}


.pageNumberBoxBoundry {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-top: 0px solid transparent;
  border-bottom: 50px solid transparent;
}

.pagenumber-boxsvg {
  position: absolute;
  width: 30px;
  height: 25px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.pagenumber-boxsvgborder {
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  //box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  font-size: small;
}

.pagenumber-box {
  position: absolute;
  min-width: 35px;
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(240, 240, 240, 0.80);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  //background: #fff;
  border-bottom-left-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  //margin-right: 25px;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px 8px 8px 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  right: 0px;
  top: 0px;
  font-size: small;
  touch-action: none;
}

.pagenumber-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
